<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8" />
        <title>STORE NAME</title>
        <link rel="stylesheet" href="/static/styles/index.css">
    </head>
    <body>
        <header>
            <div class = "header-text">
                <h1>INSERT TITLE</h1>
                <p>INSERT DESCRIPTION TEXT</p>
            </div>
            
        </header>

        <div class = "container">
            <!-- jinja loop template-->
             {% for product in products %}
             <a class = "card-link" href = "/product/{{product.id}}">
                <div class = "card">
                    <h2> {{product.name}} </h2>
                    <p class = "price"> ${{product.price}}</p>
                    <img src = "{{product.images[0]}}">
                </div>
             </a>
             {% endfor %}
        </div>
        <div class = "login-wrapper">
            <a href = "/login">
                <button class = "login">Admin Login</button>
            </a>
        </div>



    </body>
</html>