<!DOCTYPE html>
<html lang = en>
    <head>
        <title>{{product.name}}</title>
        <link rel="stylesheet" href="/static/styles/product.css">
    </head>
    <body>
        <audio class = "music" autoplay loop>
            <source src = "/static/music/jazz-at-dizzyx27s-303230.mp3">
        </audio>
        <div class = "wrapper">
            <div class = "slideshow-wrapper">
                <div class = "slideshow">
                    {% for image in product.images %}
                        <div class = "images">
                            <div class = "number"> {{loop.index}} / {{product.images|length}}</div>
                            <img src = "{{image}}">
                        </div>
                    {% endfor %}
                </div>
                <a class = "prev" onclick = "nextSlide(-1)">&#10094;</a>
                <a class = "next" onclick = "nextSlide(1)">&#10095;</a>
                
                <script src = "/static/js/product.js"></script>
            </div>
            <div class = "product-text">
                <h2 class = "title"> {{product.name}}</h2>
                <p class = "price">${{product.price}}</p>
                <p class = "description"> {{product.description}}</p>
                <div class = "back-button">
                    <a class = "back" href = "/"> Back to Home </a>
                </div>
                <p class = "disclaimer">All products are non-refundable and non-returnable.</p>
            </div>
        </div>
        <button class = "music-button" onclick = "toggle_music()">
            <p>Music</p>
        </button>
        <button class = "menu-button" onclick = "toggle_menu()">
            <p>Menu</p>
        </button>
        <div class = "menu-options">
            <a href = "/crystals">
                <button class = "options">Crystals</button>
            </a>
            <a href = "/unicorns">
                <button class = "options">Unicorns</button>
            </a>
            <a href = "/culturalhandicrafts">
                <button class = "options">Cultural Handicrafts</button>
            </a>
            <div class = "about">
                <p>WeChat: janiceyang9153
                    <br>email: palmorijewelry153@gmail.com </p>
            </div>
        </div>
        <script src = "/static/js/music.js"></script>
        <script src = "/static/js/menu.js"></script>
    </body>

</html>