body {
    --titles: rgb(100, 59, 59);
    --misty-rose-2: #FCD9D8ff;
    --dark-pink: rgb(216, 142, 127);
    --brown: rgb(84, 45, 26);
    font-family: 'Monaco';
    font-weight:bold;
    background: url("/static/images/pawel-czerwinski-7m2JZWfgCJA-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    margin: 0; 
    color: var(--titles);
    padding: 0 20px 20px;
  }

header {
    text-align: center;
    padding: 700px 200px 80px;
}

.header-text p {
    max-width: 400px;
}

.index-items {
    display:flex;
    position:absolute;
    top: 20vh;
    right:10vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:450px;
}

.header-text {
    font-size: clamp(10px, 20px, 50px);
    top: 50px;
    right: 100px;

}

.buttons {
    right:150px;
    top:300px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.cat {
    background: var(--dark-pink);
    height:50px;
    box-shadow:5px 5px 2px var(--brown);
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background 0.4s ease;
    width:150px;

}
.cat:hover {
    background:var(--misty-rose-2);
}

.music-button {
    color: var(--misty-rose-2);
    background: var(--brown);
    cursor:pointer;
    position: fixed;
    top:20px;
    right:50px;
    padding:0;
    margin:0;
    border:none;
    width:60px;
    border-radius:20px;
    transition: background 0.4s ease, color 0.4s ease;
}

.music-button:hover {
    color:var(--brown);
    background:var(--misty-rose-2)
}

.login-wrapper {
    display:flex;
    justify-content: center;
}

.login {
    color: var(--titles);
    background: var(--misty-rose-2);
    height: 50px;
    width: 300px;
    border:none;
    cursor: pointer;
    transition: background 0.4s ease;
}

.login:hover {
  background: var(--dark-pink);
}

button {
    font-family: 'Courier', 'Courier New', Courier, monospace;
    font-size:14px;
}

@media (max-width:1500px) {
    .login-wrapper {
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom:50px;
    }
}



