body {
    /*--champagne-pink: #EFE1D7ff;
    --french-gray: #C6C6D1ff;
    --antiflash-white: #F3F6F9ff;
    --almond: #EED9C2ff;
    --french-gray-2: #BEB9CBff;
    */
    font-family: 'Poppins', sans-serif;
    background: url("/static/images/IMG_5658.JPG");
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    margin: 0; 
    color: #5a3e36;
    padding: 0 20px 20px;
  }

header {
    padding: 700px 200px 80px;
}

.index-items {
    display:flex;
    position:absolute;
    top: 20vh;
    right:10vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:450px;
}

.header-text {
    font-size: clamp(10px, 20px, 50px);
    top: 50px;
    right: 100px;

}

.buttons {
    right:150px;
    top:300px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.cat1, .cat2, .cat3 {
    background: #BEB9CBff;
    height:50px;
    box-shadow:5px 5px 2px #7F674Dff;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background 0.5s ease;
    width:100px;

}
.cat1:hover, .cat2:hover, .cat3:hover {
    background:linear-gradient(rgb(83, 62, 49), #EFE1D7ff);
}
.music-button {
    color: #5a3e36;
    background: #a2857d;
    cursor:pointer;
    position: fixed;
    top:20px;
    right:50px;
    padding:0;
    margin:0;
    border:none;
    width:60px;
    border-radius:20px;
}

.login-wrapper {
    display:flex;
    justify-content: center;
}

.login {
    color: #a2857d;
    height: 50px;
    width: 300px;
    border:none;
    background: #EFE1D7ff;
    cursor: pointer;
    transition: background 0.2s ease;
}

.login:hover {
  background: #523123;
}



