body {
    font-family: 'Poppins', sans-serif;
    background-image: url("/static/images/IMG_5657.JPEG");
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 1000px 200px 80px;
    margin: 0; 
    padding: 0 20px 60px;
    color: #5a3e36;
}

.wrapper {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80vh;
    margin:0;
}

.images {
    display:none;
}
img{
    max-height:500px;
}

.prev, .next {
    color: rgba(195, 164, 124);
    display:none;
    cursor:pointer;
    position:absolute;
    top:40%;
    font-size: 40px;
    transition: color 0.3s ease;
}

.next:hover,
.prev:hover {
  color: #523123;
}

.prev {
    left:20%;
}

.next {
    right:20%;
}

.number {
    text-align: center;
    width: 80px;
    position:absolute;
    margin: 20px;
    right:0;
    background-color:rgb(195, 164, 124);
}

.description {
    color: rgb(195, 164, 124);
    background: #EFE1D7ff;
    min-height:50px;
    width: 60vw;
    margin-bottom: 50px;
}

.back {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #a2857d;
    height: 50px;
    width: 300px;
    border:none;
    background: #EFE1D7ff;
    cursor: pointer;
    transition: background 0.2s ease;
}

.back:hover {
  background: #523123;
}

.music-button {
    color: #5a3e36;
    background: #a2857d;
    cursor:pointer;
    position: fixed;
    top:20px;
    right:50px;
    padding:0;
    margin:0;
    border:none;
    width:60px;
    border-radius:20px;
}