body {
    --white: #F7E9E6ff;
    --titles: rgb(100, 59, 59);
    --misty-rose-2: #FCD9D8ff;
    --dark-pink: rgb(216, 142, 127);
    --brown: rgb(84, 45, 26);
    font-family: 'Monaco';
    font-weight:bold;
    background-image: url("/static/images/pawel-czerwinski-JUWr8i3SIfk-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 1000px 200px 80px;
    margin: 0; 
    padding: 0 20px 60px;
    color: var(--titles);
}

.wrapper {
    position:relative;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height:100vh;
}
 
.product-text {
    display: flex;
    flex-direction: column;
}

.slideshow-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin:0 auto;
}

.images img{
    display:block;
    max-height:500px;
    margin: 0 auto;
    height:auto;
    max-width: 600px;
}

.prev, .next {
    color: var(--brown);
    top: 50%;
    transform: translateY(-50%);
    cursor:pointer;
    position:absolute;
    padding:0px;
    font-size: 40px;
    transition: color 0.4s ease;
}

.next:hover,
.prev:hover {
  color: var(--dark-pink);
}

.prev {
    left:20px;
}

.next {
    right:20px;
}

.number {
    text-align: center;
    width: 80px;
    position:absolute;
    margin: 20px;
    right:0;
    background-color:var(--misty-rose-2);
}

.price {
    margin:0;
}

.description {
    color: var(--titles);
    background: var(--misty-rose-2);
    min-height:50px;
    width:30vw;
    margin-bottom: 50px;
    text-align: center;
    padding:10px;
}

.back {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--titles);
    background: var(--misty-rose-2);
    height: 50px;
    width: 300px;
    border:none;
    cursor: pointer;
    transition: background 0.4s ease;
    margin: 0 auto;
}

.back:hover {
  background: var(--dark-pink);
}

.music-button {
    color: var(--misty-rose-2);
    background: var(--brown);
    cursor:pointer;
    position: fixed;
    top:20px;
    right:50px;
    padding:0;
    margin:0;
    border:none;
    width:60px;
    border-radius:20px;
    transition: background 0.4s ease, color 0.4s ease;
}

button {
    font-family: 'Courier', 'Courier New', Courier, monospace;
    font-size:14px;
}

.disclaimer {
    padding:20px;
    text-align: center;
    font-size:12px;
}

.menu-button {
    color: var(--misty-rose-2);
    background: var(--brown);
    cursor:pointer;
    position: fixed;
    top:20px;
    left:50px;
    padding:0;
    margin:0;
    border:none;
    width:60px;
    border-radius:20px;
    transition: background 0.4s ease, color 0.4s ease;
}


.music-button:hover,
.menu-button:hover {
    color:var(--brown);
    background:var(--misty-rose-2)
}

.menu-options {
    transform:translateX(0);
    position:fixed;
    top:70px;
    left:50px;
    display:none;
    flex-direction: column;
    transition: transform 0.4s ease-out, opacity 0.5s ease-out;
}

@starting-style {
    .menu-options {
        transform: translateX(-100%);
        opacity: 0;
    }
}


.options {
    color:var(--brown);
    background-color:transparent;
    border-left:5px solid var(--brown);
    border-top:none;
    border-right:none;
    border-bottom:none;
    margin:10px;
    cursor:pointer;
    transition:color 0.4s ease;

}

.options:hover {
    color:var(--dark-pink);
}

.about {
    background-color: var(--misty-rose-2);
    text-align:center;
    border-radius:20px;
    padding:10px;
    max-width:300px;
    margin-top:30px;
}

button {
    font-family: 'Courier', 'Courier New', Courier, monospace;
    font-size:14px;
}

@media (max-width: 1500px) {

    .body {
        height:100svh;
        width:auto;
    }
    .wrapper {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 20px;
    }

    .slideshow-wrapper {
        height: auto;
        width: 100%;
    }

    .images img {
        max-width: 95vw;
        width: 200%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

}